body { background-color: blanchedalmond;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-right: 3em;
  margin-left: 3em;
}
h1 {
border: 5px dotted white;
text-align: center;
background-color: grey;
padding-top: 1em;
padding-bottom: 1em;
width: 90%;
}
p {
  margin-left: 3em
}
figure {
  border-top: 5px solid #DBC85E;
margin-right: auto;
margin-left: auto;
}
figcaption {
color: brown;
text-align: center;
}
nav {
  background-color: grey;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: white;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 90%;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    list-style-type: none;
  }

  nav > ul > li > a {
      color: #aaa;
      display: block;
      line-height: 56px;
      padding: 0 24px;
      text-decoration: none;
    }
code {
  margin-left: auto;
  margin-right: auto;
  width: 25 px;
}

<style>
  #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

#block {
  background-color: pink;
  text-align: center;
  padding: 2px;
}

#block-2 {
  background-color: pink;
  text-align: center;
  padding-bottom: 10px;
}

#block-3 {
  background-color: pink;
  text-align: center;
  padding: 2px;
  border: 2px dotted white;
}
</style>