body {
  background-color: blanchedalmond;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 100%;
   margin-right: 10em;
   margin-left: 10em;
}
header {
  background-color: grey;
  color: white;
  border-style: double;
  border-color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    background-color: grey;
    border-style: double;
    border-color: white;
    width: 5em;
    margin-left: 0;
    margin-right: 0;
    padding: 4px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
}

code {
  display: block;
  width: 30%;
  background-color: azure;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

footer {
  background-color: grey;
  color: white;
  border-style: double;
  border-color: white;
}